/* <RadMenu / Default> */

.RadMenu_SAMOrange .rmRootGroup,
.RadMenu_SAMOrange a.rmLink,
.RadMenu_SAMOrange .rmGroup .rmText,
.RadMenu_SAMOrange .rmLeftArrow,
.RadMenu_SAMOrange .rmRightArrow,
.RadMenu_SAMOrange .rmTopArrow,
.RadMenu_SAMOrange .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_SAMOrange .rmRootGroup
{
	border: 1px solid #828282;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #e6e6e6;
}

/* <Root items> */

.RadMenu_SAMOrange,
.RadMenu_SAMOrange a.rmLink
{
    font-size:11px !important;
    line-height: 21px;
	color: #000000;
	text-decoration: none;
}

.RadMenu_SAMOrange a.rmLink,
.RadMenu_SAMOrange a.rmDisabled,
.RadMenu_SAMOrange a.rmDisabled:hover
{
	background-position: 0 -72px;
}

.RadMenu_SAMOrange .rmFirst a.rmLink,
.RadMenu_SAMOrange .rmFirst a.rmLink:hover,
.RadMenu_SAMOrange .rmLast .rmText,
.RadMenu_SAMOrange .rmLast a.rmLink:hover .rmText,
.RadMenu_SAMOrange .rmVertical a.rmLink,
.RadMenu_SAMOrange .rmVertical .rmText
{
	background-repeat: no-repeat;
	background-position: 0 500px;
}

.RadMenu_SAMOrange .rmVertical .rmFirst,
.RadMenu_SAMOrange .rmVertical .rmLast
{
	background: none;
}

.RadMenu_SAMOrange a.rmLink:hover,
.RadMenu_SAMOrange a.rmFocused,
.RadMenu_SAMOrange a.rmSelected
{
	background-color: #ffffff;
}

.RadMenu_SAMOrange .rmHorizontal .rmRootLink span.rmText
{
	display: inline;
	padding-left: 12px;
}

.RadMenu_SAMOrange .rmHorizontal a.rmRootLink
{
	padding-left: 0;
}

.RadMenu_SAMOrange .rmHorizontal .rmItem > a.rmRootLink /* IE6 doesn't like width: 100% on its items. */
{
	width: 100%;
}

.RadMenu_SAMOrange .rmHorizontal img.rmLeftImage
{
	margin: 4px -4px 0 6px;
}

.RadMenu_SAMOrange_rtl .rmHorizontal img.rmLeftImage
{
	margin: 4px 6px 0 -4px;
}

.RadMenu_SAMOrange .rmVertical a.rmLink
{
	padding-top: 1px;
	padding-bottom: 1px;
}

.RadMenu_SAMOrange .rmVertical a.rmLink:hover,
.RadMenu_SAMOrange .rmVertical a.rmFocused,
.RadMenu_SAMOrange .rmVertical a.rmSelected,
.RadMenu_SAMOrange .rmVertical a.rmExpanded,
.RadMenu_SAMOrange .rmVertical a.rmExpanded:hover
{
	padding-top: 0;
	padding-bottom: 0;
	border-style: solid;
	border-color: #828282;
	border-width: 1px 0;
}

.RadMenu_SAMOrange .rmVertical .rmFirst a.rmLink:hover,
.RadMenu_SAMOrange .rmVertical .rmFirst a.rmFocused,
.RadMenu_SAMOrange .rmVertical .rmFirst a.rmSelected,
.RadMenu_SAMOrange .rmVertical .rmFirst a.rmExpanded,
.RadMenu_SAMOrange .rmVertical .rmFirst a.rmExpanded:hover
{
	padding-top: 1px;
	padding-bottom: 0;
	border-top-width: 0;
}

.RadMenu_SAMOrange .rmVertical .rmLast a.rmLink:hover,
.RadMenu_SAMOrange .rmVertical .rmLast a.rmFocused,
.RadMenu_SAMOrange .rmVertical .rmLast a.rmSelected,
.RadMenu_SAMOrange .rmVertical .rmLast a.rmExpanded,
.RadMenu_SAMOrange .rmVertical .rmLast a.rmExpanded:hover
{
	padding-bottom: 1px;
	padding-top: 0;
	border-bottom-width: 0;
}

.RadMenu_SAMOrange .rmVertical .rmItem a.rmDisabled:hover
{
	padding-top: 1px;
	padding-bottom: 1px;
	border-width: 0;
}

.RadMenu_SAMOrange a.rmExpanded,
.RadMenu_SAMOrange a.rmExpanded:hover
{
	background-color: #ffffff;
}

.RadMenu_SAMOrange a.rmDisabled,
.RadMenu_SAMOrange a.rmDisabled:hover
{
	color: #7d7d7d;
	background-color: transparent;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_SAMOrange .rmGroup,
.RadMenu_SAMOrange .rmMultiColumn,
.RadMenu_SAMOrange .rmGroup .rmVertical
{
	border: 1px solid #969696;
	background: #ffffff url('Menu/rmVSprite.png') repeat-y 0 0;
}

.RadMenu_SAMOrange .rmTopFix,
.RadMenu_SAMOrange .rmBottomFix,
.RadMenu_SAMOrange .rmRoundedCorners .rmGroup .rmItem,
.RadMenu_SAMOrange .rmRoundedCorners li.rmFirstGroupColumn .rmItem,
.RadMenu_SAMOrange .rmRoundedCorners .rmFirstGroupColumn li.rmFirstGroupColumn .rmItem,
.RadMenu_SAMOrange .rmRoundedCorners ul.rmHorizontal .rmFirst,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmGroup .rmItem,
.RadMenu_SAMOrange_Context.rmRoundedCorners ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #ffffff; 
	background-repeat: repeat-y;
}

* html .rmRoundedCorners_SAMOrange .rmGroup .rmItem,
* html .rmRoundedCorners_SAMOrange ul.rmHorizontal .rmFirst
{
	background-image: url('Menu/rmVSprite.png');
	background-color: #ffffff; 
	background-repeat: repeat-y;
}

.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_SAMOrange .rmRoundedCorners .rmGroupColumn .rmItem,
.RadMenu_SAMOrange .rmRoundedCorners .rmGroupColumn .rmGroupColumn .rmItem,
.RadMenu_SAMOrange .rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrap .rmVertical,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer .rmGroup,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrap .rmItem,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmHorizontal .rmItem,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrap .rmVertical
{
	background-image: none;
}

* html .rmRoundedCorners_SAMOrange .rmScrollWrapContainer .rmGroup,
* html .rmRoundedCorners_SAMOrange .rmScrollWrap .rmItem,
* html .rmRoundedCorners_SAMOrange .rmHorizontal .rmItem,
* html .rmRoundedCorners_SAMOrange .rmScrollWrap .rmVertical
{
	background-image: none;
}

.RadMenu_SAMOrange .rmRoundedCorners .rmGroupColumn
{
	background-color: #ffffff;
}

.RadMenu_SAMOrange .rmBottomLeft,
.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_SAMOrange_Context.rmRoundedCorners ul.rmGroup,
.RadMenu_SAMOrange .rmRoundedCorners ul.rmGroup,
.RadMenu_SAMOrange .rmRoundedCorners .rmMultiColumn
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

* html .rmRoundedCorners_SAMOrange .rmScrollWrapContainer,
* html .rmRoundedCorners_SAMOrange .rmGroup ul.rmGroup,
* html .rmRoundedCorners_SAMOrange ul.rmGroup
{
	background-image:  url('Menu/rmRoundedLeft.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_SAMOrange .rmTopRight,
.RadMenu_SAMOrange .rmBottomRight
{
	background-image:  url('Menu/rmRoundedRight.png');
	background-color: transparent; 
	background-repeat: no-repeat;
}

.RadMenu_SAMOrange .rmTopFix,
.RadMenu_SAMOrange .rmBottomFix,
.RadMenu_SAMOrange .rmRoundedCorners .rmGroup .rmFirst,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmGroup .rmFirst,
.rmRoundedCorners_SAMOrange .rmGroup .rmFirst
{
	border-color: #969696;
}

.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer .rmBottomFix,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopFix,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomFix
{
	background: #ffffff;
}

* html .rmRoundedCorners_SAMOrange .rmScrollWrapContainer .rmTopFix,
* html .rmRoundedCorners_SAMOrange .rmScrollWrapContainer .rmBottomFix
{
	background: #ffffff;
}

.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer .rmRightArrow,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer .rmTopArrow,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer .rmBottomArrow,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer .rmLeftArrow,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer .rmRightArrow
{
	background-color: #ffffff;
	border: 0;
}

* html .rmRoundedCorners_SAMOrange .rmScrollWrapContainer .rmTopArrow,
* html .rmRoundedCorners_SAMOrange .rmScrollWrapContainer .rmBottomArrow,
* html .rmRoundedCorners_SAMOrange .rmScrollWrapContainer .rmLeftArrow,
* html .rmRoundedCorners_SAMOrange .rmScrollWrapContainer .rmRightArrow
{
	background-color: #ffffff;
	border: 0;
}

.RadMenu_SAMOrange_rtl .rmBottomLeft,
.RadMenu_SAMOrange_rtl .rmRoundedCorners ul.rmGroup,
.RadMenu_SAMOrange_rtl .rmRoundedCorners .rmMultiColumn,
.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer,
.RadMenu_SAMOrange .rmScrollWrapContainer .rmBottomLeft,
.rmRoundedCorners.RadMenu_SAMOrange_Context_rtl ul.rmGroup,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer
{
	background-image: url('Menu/rmRoundedLeft_rtl.png');
}

.RadMenu_SAMOrange_rtl .rmTopRight,
.RadMenu_SAMOrange_rtl .rmBottomRight
{
	background-image: url('Menu/rmRoundedRight_rtl.png');
}

.RadMenu_SAMOrange_rtl li.rmTopFix,
.RadMenu_SAMOrange_rtl li.rmBottomFix,
.RadMenu_SAMOrange_rtl .rmRoundedCorners .rmGroup .rmItem,
.rmRoundedCorners.RadMenu_SAMOrange_Context_rtl .rmGroup .rmItem
{
	background-position: 101% 0;
}

.RadMenu_SAMOrange .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_SAMOrange_rtl .rmGroup,
.RadMenu_SAMOrange_rtl .rmMultiColumn,
.RadMenu_SAMOrange_rtl .rmGroup .rmVertical
{
	background-position: 100% 0;
}

.RadMenu_SAMOrange .rmRootGroup li.rmItem .rmGroup
{
	padding-bottom: 0;
}

.RadMenu_SAMOrange .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_SAMOrange .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_SAMOrange .rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.RadMenu_SAMOrange_Context.rmRoundedCorners .rmScrollWrapContainer li.rmItem,
.rmRoundedCorners_SAMOrange .rmScrollWrapContainer li.rmItem
{
	background: none;
}

.RadMenu_SAMOrange .rmGroup .rmItem a.rmLink,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmLink:hover,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmFocused,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmSelected,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmExpanded
{
	padding-top: 0;
	padding-bottom: 0;
	border: 0;
}

.RadMenu_SAMOrange .rmGroup .rmLast a.rmLink,
.RadMenu_SAMOrange .rmGroup .rmLast a.rmLink:hover,
.RadMenu_SAMOrange .rmGroup .rmLast a.rmFocused,
.RadMenu_SAMOrange .rmGroup .rmLast a.rmSelected,
.RadMenu_SAMOrange .rmGroup .rmLast a.rmExpanded
{
	padding-bottom: 1px;
}

.RadMenu_SAMOrange .rmGroup a.rmLink,
.RadMenu_SAMOrange .rmGroup .rmText,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmDisabled,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmDisabled:hover,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmDisabled .rmText,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmDisabled:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
	background-color: transparent;
}

.RadMenu_SAMOrange .rmGroup a.rmLink:hover,
.RadMenu_SAMOrange .rmGroup a.rmFocused,
.RadMenu_SAMOrange .rmGroup a.rmSelected,
.RadMenu_SAMOrange .rmGroup a.rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_SAMOrange .rmGroup a.rmLink:hover .rmText,
.RadMenu_SAMOrange .rmGroup a.rmFocused .rmText,
.RadMenu_SAMOrange .rmGroup a.rmSelected .rmText,
.RadMenu_SAMOrange .rmGroup a.rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_SAMOrange .rmGroup .rmExpandRight,
.RadMenu_SAMOrange .rmGroup .rmExpandDown,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmDisabled .rmExpandRight,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmDisabled .rmExpandDown,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmDisabled:hover .rmExpandRight,
.RadMenu_SAMOrange .rmGroup .rmItem a.rmDisabled:hover .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_SAMOrange .rmGroup a.rmLink:hover .rmExpandRight,
.RadMenu_SAMOrange .rmGroup a.rmFocused .rmExpandRight,
.RadMenu_SAMOrange .rmGroup a.rmSelected .rmExpandRight,
.RadMenu_SAMOrange .rmGroup a.rmExpanded .rmExpandRight,
.RadMenu_SAMOrange .rmGroup a.rmLink:hover .rmExpandDown,
.RadMenu_SAMOrange .rmGroup a.rmFocused .rmExpandDown,
.RadMenu_SAMOrange .rmGroup a.rmSelected .rmExpandDown,
.RadMenu_SAMOrange .rmGroup a.rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_SAMOrange .rmGroup a.rmDisabled:hover .rmExpandRight,
.RadMenu_SAMOrange .rmGroup a.rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_SAMOrange_rtl a.rmLink,
.RadMenu_SAMOrange_rtl .rmRootGroup a.rmDisabled
{
	background-position: 100% -96px;
}

.RadMenu_SAMOrange_rtl .rmGroup a.rmDisabled
{
	background: none;
}

.RadMenu_SAMOrange_rtl .rmText
{
	background-position: 0 -96px;
}

.RadMenu_SAMOrange_rtl .rmVertical a.rmExpanded .rmText,
.RadMenu_SAMOrange_rtl .rmVertical a.rmExpanded:hover .rmText
{
	background-position: 0 500px;
	background-repeat: no-repeat;
}

.RadMenu_SAMOrange_rtl .rmGroup a.rmLink:hover,
.RadMenu_SAMOrange_rtl .rmGroup a.rmFocused,
.RadMenu_SAMOrange_rtl .rmGroup a.rmSelected,
.RadMenu_SAMOrange_rtl .rmGroup a.rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_SAMOrange_rtl .rmGroup a.rmLink:hover .rmText,
.RadMenu_SAMOrange_rtl .rmGroup a.rmFocused .rmText,
.RadMenu_SAMOrange_rtl .rmGroup a.rmSelected .rmText,
.RadMenu_SAMOrange_rtl .rmGroup a.rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_SAMOrange_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_SAMOrange_rtl .rmGroup a.rmLink:hover .rmExpandLeft,
.RadMenu_SAMOrange_rtl .rmGroup a.rmFocused .rmExpandLeft,
.RadMenu_SAMOrange_rtl .rmGroup a.rmSelected .rmExpandLeft,
.RadMenu_SAMOrange_rtl .rmGroup a.rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Default - specific, overlapping submenus)> */

.RadMenu_SAMOrange .rmSlide
{
	margin: 0 0 0 -1px;
}

.RadMenu_SAMOrange .rmVertical .rmSlide,
.RadMenu_SAMOrange .rmSlide .rmSlide,
.RadMenu_SAMOrange_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_SAMOrange_rtl .rmSlide
{
	margin: 0 0 0 0;
}

.RadMenu_SAMOrange_rtl .rmFirst .rmSlide
{
	margin-left: 1px;
}

.RadMenu_SAMOrange_rtl .rmVertical .rmSlide,
.RadMenu_SAMOrange_rtl .rmSlide .rmSlide,
.RadMenu_SAMOrange_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_SAMOrange .rmLeftArrow,
.RadMenu_SAMOrange .rmRightArrow
{
	background-color: #e6e6e6;
}

.RadMenu_SAMOrange .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #828282; }
.RadMenu_SAMOrange .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #828282; }

.RadMenu_SAMOrange .rmTopArrow,
.RadMenu_SAMOrange .rmBottomArrow,
.RadMenu_SAMOrange .rmGroup .rmLeftArrow,
.RadMenu_SAMOrange .rmGroup .rmRightArrow
{
	background-color: #e6e6e6;
}

.RadMenu_SAMOrange .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #828282; }
.RadMenu_SAMOrange .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #828282; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_SAMOrange .rmHorizontal .rmSeparator .rmText,
.RadMenu_SAMOrange .rmVertical .rmHorizontal .rmSeparator .rmText
{
	height: 22px;
	margin: 1px 0 0;
	width: 1px;
	background-color: #a8a8a8;
}

.RadMenu_SAMOrange_Context .rmSeparator .rmText,
.RadMenu_SAMOrange .rmHorizontal .rmGroup .rmSeparator .rmText,
.RadMenu_SAMOrange .rmVertical .rmHorizontal .rmGroup .rmSeparator .rmText
{
	background-color: transparent;
	background-position: 0 -406px;
}

.RadMenu_SAMOrange ul.rmVertical .rmText input,
.RadMenu_SAMOrange ul.rmVertical .rmText label
{
    display: inline-block;
    font-weight: normal;
    font-size:11px;
}

span.rmText
{
    font-size:11px;
}

/* </Separators> */

/* </RadMenu / Default> */



