<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="Mimo.SecurityKeySize" value="256"/>
        <add key="Mimo.SecurityKey" value="XF2lMHMJv2zGd7tqhZqVJQ8+403QLOmH0+3LBx+mKLk="/>
        <add key="Mimo.SecurityIV" value="yjm/hP/BLkdc3BYraNnvqw=="/>
    </appSettings>
  <connectionStrings>
    <add name="SamContext" connectionString="metadata=res://*/Modelo.SamDb.csdl|res://*/Modelo.SamDb.ssdl|res://*/Modelo.SamDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=Mtysvr22;Initial Catalog=SAM;Persist Security Info=True;User ID=sam;Password=sam123!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="SamDB" connectionString="server=Mtysvr22;initial catalog=SAM;User=sam;Password=sam123!;MultipleActiveResultSets=True;Connect Timeout=200"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
