USE SAM

UPDATE CampoSeguimientoJunta
SET Nombre = 'FabLine',
	NombreIngles = 'FabLine'
WHERE ModuloSeguimientoJuntaID = 17
	AND NombreControlUI = 'litCampo1'



UPDATE CampoSeguimientoSpool
SET Nombre = 'FabLine',
	NombreIngles = 'FabLine'
WHERE ModuloSeguimientoSpoolID = 7
AND NombreControlUI = 'litCampo1'

