@using Newtonsoft.Json
@model SAM.Web.Shop.Models.PagerModel
<ul class="pager" data-pager="@JsonConvert.SerializeObject(Model)">
    <li class="previous"><a href="#">&larr; Previous</a></li>
    <li class="next"><a href="#">Next &rarr;</a></li>
</ul>