<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SAM.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>


    <section name="dotless" type="dotless.Core.configuration.DotlessConfigurationSectionHandler, dotless.Core" />
    <section name="combres" type="Combres.ConfigSectionSetting, Combres, Version=2.2, Culture=neutral, PublicKeyToken=1ca6b37997dd7536" />
    <section name="routeJs" type="RouteJs.RouteJsConfigurationSection, RouteJs" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="CombresSectionName" value="combres" />
    <add key="Mimo.SecurityKeySize" value="256" />
    <add key="Mimo.SecurityKey" value="XF2lMHMJv2zGd7tqhZqVJQ8+403QLOmH0+3LBx+mKLk=" />
    <add key="Mimo.SecurityIV" value="yjm/hP/BLkdc3BYraNnvqw==" />
    <add key="Sam.CalidadRutaDossier" value="D:\Repositories\SAM\WebSolution\SAM.Web\ArchivosDossier\" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <add key="Sam.Correos.Cuenta" value="genoveva.torres@definityfirst.com" />
    <add key="Sam.Correos.Puerto" value="25" />
    <add key="Sam.Correos.Host" value="MTYMAIL-V02.sieenasoftware.com" />

   
      <add key="usuario" value="fabian gutierrez"/>
      <add key="pass" value="09090384"/>
      <!--<add key="usuario" value="administrator@steelgo.com"/>
      <add key="pass" value="5T33lt3c2016@"/>-->
   
  </appSettings>
  <connectionStrings>

    <!--<add name="SamContext" connectionString="metadata=res://*/Modelo.SamDb.csdl|res://*/Modelo.SamDb.ssdl|res://*/Modelo.SamDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-E58T2BM\SAM2;Initial Catalog=SAM;Persist Security Info=True;User ID=sa;Password=maftec07;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SamDB" connectionString="server=DESKTOP-E58T2BM\SAM2;initial catalog=SAM;User=sa;Password=maftec07;MultipleActiveResultSets=True;Connect Timeout=200;" />
    <add name="SqlSam2" connectionString="server=DESKTOP-E58T2BM\SAM2;initial catalog=SAM;User=sa;Password=maftec07;MultipleActiveResultSets=True;Connect Timeout=2000"></add>
	-->
	<add name="SamContext" connectionString="metadata=res://*/Modelo.SamDb.csdl|res://*/Modelo.SamDb.ssdl|res://*/Modelo.SamDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-TCCMQI0\SAM2;Initial Catalog=SAM;Persist Security Info=True;User ID=sa;Password=maftec09;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SamDB" connectionString="server=DESKTOP-TCCMQI0\SAM2;initial catalog=SAM;User=sa;Password=maftec09;MultipleActiveResultSets=True;Connect Timeout=200;" />
    <add name="SqlSam2" connectionString="server=DESKTOP-TCCMQI0\SAM2;initial catalog=SAM;User=sa;Password=maftec09;MultipleActiveResultSets=True;Connect Timeout=2000"></add>

    <!--Pre Produccion-->
     <!--<add name="SamContext" connectionString="metadata=res://*/Modelo.SamDb.csdl|res://*/Modelo.SamDb.ssdl|res://*/Modelo.SamDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mtysqldev-v01;Initial Catalog=SAMPro;Persist Security Info=True;User ID=sampro;Password=sam123!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SamDB" connectionString="server=mtysqldev-v01;initial catalog=SAMPro;User=sampro;Password=sam123!;MultipleActiveResultSets=True;Connect Timeout=200;" />
    <add name="DtsxSamDB" connectionString="Data Source=mtysqldev-v01;User ID=sampro;Password=sam123!;Initial Catalog=SAMPro;Provider=SQLOLEDB.1;Auto Translate=False;" />-->


    <!--DEV-->
    <!--add name="SamContext" connectionString="metadata=res://*/Modelo.SamDb.csdl|res://*/Modelo.SamDb.ssdl|res://*/Modelo.SamDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=mtysqldev-v01;Initial Catalog=SAM;Persist Security Info=True;User ID=sam;Password=sam123!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SamDB" connectionString="server=mtysqldev-v01;initial catalog=SAM;User=sam;Password=sam123!;MultipleActiveResultSets=True;Connect Timeout=200;" />
    <add name="DtsxSamDB" connectionString="Data Source=mtysqldev-v01;User ID=sam;Password=sam123!;Initial Catalog=SAM;Provider=SQLOLEDB.1;Auto Translate=False;" />-->

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="Combres" />
        <add namespace="Combres.Mvc" />
      <add namespace="GridMvc" /></namespaces>
    </pages>
    <httpHandlers>
      <add path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler, dotless.Core" />
      <add verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" />
    </httpHandlers>
    <globalization enableClientBasedCulture="true" uiCulture="auto" culture="auto" />
    <!--DEV-->
    <!--<machineKey validationKey="3A22BCEDE159807919EA39BBBF515C5FE33667A1CC9F57F792300FBFECF705D57FC192420B258F4490C0ECCB3832A6FCCC2558890961499081602104B22CAD7B" decryptionKey="D8BA1D6ABF03D7AF16EEE77BD6F0CE09E0B09E8B5A4C8D47A6827F292D66FF38" validation="SHA1" decryption="AES" />-->
    <!--PROD-->
    <machineKey validationKey="940A181C7F484AF9EAC8DA210B66678EF6AD87D0B7380C795D07812488E2EB732A4FFC960DD3B06F59535C1EC41604D12EB05E52ED1BF1CE3A6A7B21FE34BD7C" decryptionKey="EA00BB4374FB4850152B7F879BFD92460D8545DD16A14FE3" validation="SHA1" decryption="AES" />
    <!--DEMO-->
    <!--<machineKey validationKey="478725DBA3BF3B0E7A44194E258DC5B2EB1084921D62EF0BA6A87E9F4005377528A363A10815A6197BDB5952A5F67D73A9950049E966048F85EE6D1D33F261B9" decryptionKey="72324E11CC104C46E78ADE657F29324EA255E506113CC080C4FF737A4200BAF7" validation="SHA1" decryption="AES" />-->
    <membership userIsOnlineTimeWindow="15" defaultProvider="SamMembershipProvider">
      <providers>
        <clear />
        <remove name="AspNetSqlMembershipProvider" />
        <add name="SamMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SamDB" applicationName="Sam" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$" />
        <add name="AdminMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="SamDB" applicationName="Sam" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Encrypted" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$" />
      </providers>
    </membership>
    <authentication mode="Forms">
      <forms name="SamAuthCookie" loginUrl="/Login" defaultUrl="/" timeout="180" slidingExpiration="true" path="/" protection="All" />
    </authentication>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="dotless" path="*.less" verb="GET" type="dotless.Core.LessCssHttpHandler,dotless.Core" resourceType="File" preCondition="" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="RouteJs" />
      <add name="RouteJs" verb="GET" path="routejs.axd" type="RouteJs.RouteJsHandler, RouteJs" preCondition="integratedMode" />
    </handlers>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <dotless minifyCss="false" cache="true" web="false" />
  <combres definitionUrl="~/App_Data/combres.xml" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.5124.21494" newVersion="5.7.5124.21494" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>
    <logger name="default">
      <level value="ALL" />
    </logger>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="log/log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d{yyyy-MM-dd hh:mm:ss} - %m%n" />
      </layout>
    </appender>
  </log4net>
  <!--
		Sets whether to expose all routes to the site. 
		If true, all routes will be exposed unless explicitly hidden using the [HideRoutesInJavaScript] 
		attribute on the controller. If false, all routes will be hidden unless explicitly exposed 
		using the [ExposeRoutesInJavaScript] attribute.
	-->
  <routeJs exposeAllRoutes="true" />
</configuration>
