body {
    padding-top: 50px;
}


.field-validation-error {
    color: #b94a48;
    display: inline-block;
    *display: inline;
    padding-left: 5px;
    vertical-align: middle;
    *zoom: 1;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    color: #b94a48;
    border-color: #b94a48;
}

    .input-validation-error:focus {
        border-color: #953b39;
        -webkit-box-shadow: 0 0 6px #d59392;
        -moz-box-shadow: 0 0 6px #d59392;
        box-shadow: 0 0 6px #d59392;
    }

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.delete {
    background-image: url('~/Content/Images/borrar.png');
    background-repeat: no-repeat;
    color: transparent;
    align-self: baseline;
    background-color: transparent;
}

.incidencias {
    background-image: url('~/Content/Images/Info16x16.png');
    background-repeat: no-repeat;
    color: transparent;
    align-self: baseline;    
    background-color: transparent;
}


.resolver {
    background-image: url('~/Content/Images/resolver.png');
    background-repeat: no-repeat;
    color: transparent;
    align-self: baseline;    
    background-color: transparent;
}

.caption {
    font-weight: bold;
}

.logout {
    background-image: url('~/Content/Images/salir.png');
    background-repeat: no-repeat;
    color: orange;
}

.inLine {
    display: inline;
}

.deleteResults {
    background-image: url('~/Content/Images/borrar.png');
    background-repeat: no-repeat;
    color: white;
}

.delete:hover {
    background-color: white;
    color: white;
}

.deleteResults:hover {
    background-color: white;
    color: white;
}

.lbl-OK {
    color: green;
}

.lbl-ERROR {
    color: red;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url(/Content/images/loading.gif) 50% 50% no-repeat;
    pointer-events: none;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
    pointer-events: none;
}

    /* Anytime the body has the loading class, our
modal element will be visible */
    body.loading .modal {
        display: block;
    }

.k-grid tbody tr td a.k-button.k-grid-Cancelar,
.k-grid tbody tr td a.k-button.k-grid-Cancel {
    background-image: url("/Content/images/borrar.png");
    padding-right: 10px;
    height: 20px;
    min-width: 20px !important;
    margin: 0 auto;
}

.k-grid tbody tr td a.k-button.k-grid-Incidencias {
    background-image: url("/Content/images/Info16x16.png");
    padding-right: 10px;
    height: 20px;
    min-width: 20px !important;
    margin: 0 auto;
}

.k-grid tbody tr td a.k-button.k-grid-Resolver {
    background-image: url("/Content/images/resolver.png");
    padding-right: 10px;
    height: 20px;
    min-width: 20px !important;
    margin: 0 auto;
}
.k-grid tbody tr td a.k-button {
    display: block;
    color: transparent !important;
    height: 27px;
    max-width: 18px;
    padding: 0;
    margin: 0 4px;
    font-size: 0;
    border: none;
    outline: none;
    background: none;
    background-color: transparent !important;
    background-repeat: no-repeat;
    background-position: center !important;
    box-shadow: none !important;
}

.formNav {
    margin: -5px 0px 33px;
    padding: 0px 0 20px;
    border-bottom: 1px solid #CCCCCC;
}

.addedSection {    
    margin: 0px 0;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-right: 3px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    background-color: #F8F8F8;
}

.checkbox label:after {
  content: '';
  display: table;
  clear: both;
}

.checkbox .cr {
  position: relative;
  display: inline-block;
  border: 1px solid #a9a9a9;
  border-radius: .25em;
  width: 1.3em;
  height: 1.3em;
  float: left;
  margin-right: .5em;
}

.checkbox .cr .cr-icon {
  position: absolute;
  font-size: .8em;
  line-height: 0;
  top: 50%;
  left: 20%;
}

.checkbox label input[type="checkbox"] {
  display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon {
  opacity: 0;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
  opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr {
  opacity: .5;
}